.login-page-parent {
    height: 100vh;
    width: 100%;
    display: flex;


    .login-page-img {
        padding-left:67px ;
        width: 50%;
        height: 100vh;
        //background-color: red;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;

        .logo {
            width: 173.76px;
            height: 36px;
            //background-color: bisque;
            display: inline-flex;
            justify-content: space-between;
            position: absolute;
            top: 106px;

            img:nth-child(1) {
                height: 24px;
                width: 24px;
                
            }

            img:nth-child(2) {
                width: 138.44px;
                height: 36px;
            }
        }

        .banner {
            width: 600px;
            height: 337.57px;
      
        }


    }



    .login-page-form {
        width: 50%;
        height: 100vh;
        //background-color: rgb(155, 98, 13);
        padding-left:100px;
        display: flex;
        flex-direction: column;
        justify-content: center;


        form {
            display: inline-flex;
            flex-direction: column;

            h1 {
                font-family:sans-serif;
                font-style: normal;
                font-weight: 700;
                font-size: 40px;
                line-height: 55px;
                letter-spacing: -0.04em;
                color: #213F7D;

            }

            h5 {
                font-family:sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 27px;
                color: #545F7D
            }

            input[type="email"] {
                width: 447px;
                height: 50px;
                padding: 0px 10px 0px 10px;
                background-color: white;
                border: 2px solid rgba(84, 95, 125, 0.15);
                border-radius: 5px;
                margin-top: 60px;
                font-family:sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                outline: none;

                &:active {
                    cursor: pointer;
                    outline: none;
                }
                
            }

            .password-input {
                position: relative;
                margin-top: 24px;
                width: 447px;
                height: 50px;
                background: #FFFFFF;
                border: 2px solid rgba(84, 95, 125, 0.15);
                border-radius: 5px;
                display: inline-flex;
                align-items: center;
                overflow: hidden;

            input[type="password"] {
                border: none;
                width: 100%;
                height: 50px;
                padding: 0px 10px 0px 10px;
                font-family:sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                outline: none;
                background-color: white;

                &:hover {
                    cursor: pointer;
                }
                &:enabled {
                    background-color: white;
                    cursor: pointer;
                }
            }

            input[type="text"] {
                border: none;
                width: 100%;
                height: 50px;
                padding: 0px 10px 0px 10px;
                background: #FFFFFF;
                font-family:sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;

                &:hover {
                    cursor: pointer;
                }
            }

            button {
                position: absolute;
                right: 10px;
                width: 49.41px;
                height: fit-content;
                border: none;
                background-color: white;
                font-family:sans-serif;
                font-style: normal;
                font-weight: 600;
                font-size: 12px;
                line-height: 16px;
                text-align: center;
                letter-spacing: 0.1em;
                text-transform: uppercase;

                color: #39CDCC;

            }

        }

            span {
                margin-top: 24px;
                font-family:sans-serif;
                font-style: normal;
                font-weight: 600;
                font-size: 12px;
                line-height: 16px;
                text-align: left;
                letter-spacing: 0.1em;
                color: #39CDCC;
                transition: 0.5s;

                &:hover {
                    cursor: pointer;
                    color:#299292 ;
                }
            }

            input[type="submit"] {
                font-family:sans-serif;
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                margin-top: 30px;
                width: 447px;
                height: 48px;
                border-radius: 8px;
                border: none;
                color: white;
                background: #39CDCC;
                transition: 0.5s;

                &:hover {
                    cursor: pointer;
                    background:#299292 ;
                }
            }
        }
    }
}