.sidebar-parent {
    height: 100vh;
    width: 283px;
    //background-color: aqua;
    //display: none;
    padding-left: 30px;
    overflow-y: scroll;
    position: fixed;
    background-color: white;

    .sidebar-logo {
        height: 100px;
        width: 100%;
        background-color: white;
        display: flex;
        //justify-content: center;
        align-items: center;

        .sidebar-logo-inner {
            width: 144.8px;
            height: fit-content;
           // background-color: brown;
            display: inline-flex;
            justify-content: space-between;
            img:nth-child(1) {
                height: 20.8px;
                width: 20.6px;
            }
            img:nth-child(2) {
                height: 30px;
               
            }
        }
        
    }
}